django
uvicorn
uvicorn-worker
redis
flake8
pytest
pytest-cov
coverage
mysqlclient
djangorestframework
djangorestframework-simplejwt <= 5.5.1
markdown
django-filter
django-oauth-toolkit
django-cors-headers
django-extensions
supervisor