django
gunicorn
redis
flake8
pytest
pytest-cov
coverage
mysqlclient
djangorestframework <= 3.15.2
djangorestframework-simplejwt <= 5.4.0
markdown
django-filter
django-oauth-toolkit
django-cors-headers
django-extensions