*/10 * * * 1-5 /usr/bin/flock -xon /tmp/metrics_ten_minutes.lockfile /bin/bash -c "cd /app && source ${VENV_PATH}/bin/activate && python manage.py update_metrics" > /proc/1/fd/1 2> /proc/1/fd/2
*/5 * * * 1-5 /usr/bin/flock -xon /tmp/process_rules.lockfile /bin/bash -c "cd /app && source ${VENV_PATH}/bin/activate && python manage.py process_rules" > /proc/1/fd/1 2> /proc/1/fd/2
